<!-- Admin logueado -->
<div class="container" ng-if="logueado">

	<div ng-include="'views/formularioCamara.html'">
	</div>

	<div ng-controller="CamaraController">
		<h1>Listado de las camaras</h1>

		<div class="row">
		<div class="col s12">
		  <div class="row">
		    <div class="input-field col s12">
		      <i class="material-icons prefix">search</i>
		      <input type="text" id="autocomplete-input" class="autocomplete" data-ng-model="filtro">
		      <label for="autocomplete-input">Filtrar</label>
		    </div>
		  </div>
		</div>
		</div>

		<table class="highlight">
				<thead>
		      <tr>
		          <th>Nombre</th>
		          <th>Descripcion</th>
							<th>Latitud</th>
							<th>Longitud</th>
		      </tr>
		    </thead>

			<tbody ng-repeat="camara in camaras | filter:filtro">
				<tr ng-hide="formEditar == camara._id">
					<td> {{camara.nombre}} </td>
					<td> {{camara.descripcion}}</td>
					<td> {{camara.latitud}} </td>
					<td> {{camara.longitud}} </td>

					<td class = "right">
						<a class="waves-effect waves-light btn btn-editar" ng-click="toggleEditor(camara._id)">
						<i class="material-icons left">mode_edit</i>Editar</a>
						<a class="waves-effect waves-light btn btn-eliminar" ng-click="eliminarCamara(camara._id)">
						<i class="material-icons left">delete</i>Eliminar</a>
					</td>
				</tr>

				<tr ng-show="formEditar == camara._id">
					<td class="input-editor"> <input type="text" class="validate input-editor" ng-model="camara.nombre"></td>
					<td class="input-editor"> <input type="text" class="validate input-editor" ng-model="camara.descripcion"></td>
					<td class="input-editor"> <input type="number" class="validate input-editor" ng-model="camara.latitud"></td>
					<td class="input-editor"> <input type="number" class="validate input-editor" ng-model="camara.longitud"></td>

					<td class = "right">
					<a class="waves-effect waves-light btn btn-guardar" ng-click="editarCamamara(camara)">
					<i class="material-icons left">done</i>Guardar</a>
					</td>
				</tr>
			</tbody>
		</table>

		<script src="js/autoCompletar.js"></script>
	</div>
</div>


<!-- Acceso denegado -->
<div class="container" ng-if="!logueado">
  <h1 text-align="center"><strong>ACCESO DENEGADO</strong></h1>
</div>
