<div ng-controller="CamaraController">
<div class="row">
	<div class="col s12">
	  <div class="row">
	    <div class="input-field col s12">
	      <i class="material-icons prefix">search</i>
	      <input type="text" id="autocomplete-input" class="autocomplete" data-ng-model="filtro">
	      <label for="autocomplete-input">Filtrar</label>
	    </div>
	  </div>
	</div>
</div>

<table class="highlight">
	<thead>
	  <tr>
		<th>Nombre</th>
		<th>Descripcion</th>
		<th>Latitud</th>
		<th>Longitud</th>
	  </tr>
	</thead>

	<tbody>
	<tr ng-repeat="camara in camaras | filter:filtro">
		<td> {{camara.nombre}} </td>
		<td> {{camara.descripcion}}</td>
		<td> {{camara.latitud}} </td>
		<td> {{camara.longitud}} </td>
	</tr>
	</tbody>
</table>
</div>
