<div class="row" ng-controller="CamaraController">
	<div class="input-field col s6">
		<i class="material-icons prefix">videocam</i>
		<input value="" id="nombre" type="text" class="validate" ng-model="camara.nombre">
		<label class="active" for="nombre">Nombre</label>
	</div>
	<div class="input-field col s6">
		<i class="material-icons prefix">label</i>
		<input value="" id="descripcion" type="text" class="validate" ng-model="camara.descripcion">
		<label class="active" for="descripcion">Descripcion</label>
	</div>
	<button class="waves-effect waves-light btn" ng-click="agregarCamara()">Agregar camara</button>
</div>

<div ng-controller="CamaraController">
	<h1>Listado de las camaras</h1>
	<table class="highlight">
			<thead>
	      <tr>
	          <th>Nombre</th>
	          <th>Descripcion</th>
	      </tr>
	    </thead>

		<tbody>
		<tr ng-repeat="camara in camaras">
			<td> {{camara.nombre}} </td>
			<td> {{camara.descripcion}}</td>
			<td> 
				<a class="waves-effect waves-light btn btn-eliminar" ng-click="eliminarCamara(camara._id)">
				<i class="material-icons left">delete</i>Eliminar</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>