<div>
    <style>
      html, body, #map {
        margin: 0;
        padding: 0;
        height: 700px;
        width: 100%;
      }
      #map {
        position: relative;
      }
      ng-map {
        width:100%;
        height:100%;
      }
    </style>

    <div class="row">
      <div class="col s4"> <!-- Columna 1-->
           <div ng-include src="'views/listaCamaras.html'"></div>
      </div> <!-- Columna 1 END-->

      <div class="col s8"> <!-- Columna 2-->
          <div id="map" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCLgrNdY7Vt9XqjWohlDfbYI8KAnk9WVTo" ng-controller="MapController">
            <ng-map center="-38.7183177, -62.2663478" zoom="14" styles="{{estilo}}">
              <marker
                ng-repeat="c in camaras" position="{{c.latitud}},{{c.longitud}}" title="{{c.nombre}}~{{c._id}}"
                icon="{
                  url:'img/img_camara.png',
                  scaledSize:[40,60]
                }"
                on-click="mostrarComentarios(event, this.id)"
                >
              </marker>
            </ng-map>
          </div>
      </div> <!-- Columna 2 END-->
    </div> <!-- END ROW -->
    <div class="row">
      <div id="comentarios" class = "col s12">
        <h3>Comentarios</h3>
        <disqus shortname="localhost-i6dqfajxmh" identifier="{comentarios_id}}" title="{{comentarios_title}}" url="{{comentarios_url}}"></disqus>
    </div>
</div>
