  <!-- Slide menu -->
  <ul id="slide-out" class="side-nav slide-listacam">
    <div ng-include src="'views/listaCamaras.html'"></div>
  </ul>

  <div class="fixed-action-btn">
      <a href="#" data-activates="slide-out" class="btn-floating btn-large button-collapse waves-effect waves-light red">
      <i class="material-icons">menu</i>
      </a>
  </div>

  <script>
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  </script>
  <!-- Slide menu END-->


<!-- Modal Trigger -->
<div class="col">
    <a class='btn' data-target='demoModal' modal>Show Modal</a>
</div>
<!-- Modal Structure -->
<div id="demoModal" class="modal">
    <div class="modal-content">
        <h4>Modal header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<script>
$(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
});
</script>









<div class="container">
  <div ng-controller="CamaraController">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="autocomplete-input" class="autocomplete" data-ng-model="filtro">
          <label for="autocomplete-input">Filtrar</label>
        </div>
      </div>
    </div>
  </div>

  <table class="highlight">
    <thead>
      <tr>
      <th class ="ordenable" ng-click="orden = &quot nombre &quot">Nombre</th >
      <th class ="ordenable" ng-click="orden = &quot descripcion &quot">Descripcion</th>
      <th class ="ordenable" ng-click="orden = &quot latitud &quot">Latitud</th>
      <th class ="ordenable" ng-click="orden = &quot longitud &quot">Longitud</th>
      </tr>
    </thead>

    <tbody>
    <tr ng-repeat="camara in camaras | filter:filtro | orderBy:orden">
      <td> {{camara.nombre}} </td>
      <td> {{camara.descripcion}}</td>
      <td> {{camara.latitud}} </td>
      <td> {{camara.longitud}} </td>
    </tr>
    </tbody>
  </table>
  </div>
  <script src="js/autoCompletar.js"></script>
</div> <!-- fin container -->