<div class="container">
  <h1>ReadMe</h1>
  <dl>
    <dt>Comisión 706</dt>
    <dd><a href="https://github.com/Nu11Pointer" target="blank">Federico Paganetto - 102225</a></dd>
    <dd><a href="https://github.com/Necdilzor" target="blank">Agustín Fernando Pacheco Di Santi - 104843</a></dd>
    </br>
    <dt>Tecnologías Utilizdas</dt>
    <dd>Materialize CSS</dd>
    <dd>JQuery</dd>
    <dd>Disqus</dd>
    </br>
    <dt>Observaciones</dt>
    <dd>La información provista de las cámaras de seguridad no es real y es sólo creada para desarrollar esta aplicación</dd>
    </br>
    <dt>Datos admin</dt>
    <dd>Usuario: admin</dd>
    <dd>Contraseña: mean</dd>
    </br>
    <dt>Créditos</dt>
    <dd>Directiva Angular de comentarios <a href="https://github.com/sercaneraslan/angular-disqus-directive" target="_blank">Disqus</a></dd>
    <dd>Datos delictuales de Bahía Blanca obtenidos gracias a <a href="http://datos.bahiablanca.gob.ar/dataviews/236002/SEGUR-MAPA-DEL-DELIT-11354/" target="_blank">Gobierno Abierto Bahía Blanca</a></dd>
    <dd>Directiva Angular de <a href="http://ngmap.github.io/" target="_blank">Google Maps</a></dd>
    <dd>Hilos de discusión Disqus almacenados <a href="https://disqus.com/home/forums/localhost-i6dqfajxmh/"> aquí</a> </dd>
  </dl>
</div>
