body{
	background-color: #455A64;
	color: white;
}

nav{
	background-color: #263238;
	padding-left: 15%;
	padding-right: 15%;
}

.btn-eliminar{
	background-color: #f44336;
}

.btn-eliminar:hover{
	background-color: #ee6e73;
}

.btn-editar{
	background-color: #8BC34A;
}

.btn-editar:hover{
	background-color: #9CCC65;
}

.dropdown-content{
	background-color: #ECEFF1;
	color: white;
}

table.highlight tbody tr:hover {
    background-color: #37474F !important;
}